* {
    padding: 0px;
}

.body {
    padding-right: 0px;
}

.container-fluid {
    margin: 0px;
    padding: 0rem;
    overflow: hidden;
  }

.icons {
    height: 10rem;
    width: auto;
}

/* golden ratio text */

.grt {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 28px;
	line-height: 46px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 92px;
	line-height: 133px;
}

@media (max-width: 576px) { 
    h1 {
        font-size: 45px;
        line-height: 69px;
    }
 }

h2 {
    font-family: 'Josefin Sans', sans-serif;
	font-size: 72px;
	line-height: 106px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
	font-size: 57px;
	line-height: 85px;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
	font-size: 45px;
	line-height: 69px;
}

@media (max-width: 576px) { 
    h4 {
        font-size: 30px;
        line-height: 46px;
    }
 }

.grt .formtext {
    font-size: 20px;
    line-height: 36px;
}
.grt .footer {
    font-size: 16px;
    line-height: 31px;
    color: #9c9c9c;
}

.menulink {
    text-transform: uppercase;
    font-size: 20px;
}

.card-img-top:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
